# Ignore node_modules and other dependencies
node_modules
.pnp
.pnp.js

# Ignore Next.js build output
.next
out

# Ignore production build
build

# Ignore test coverage reports
coverage

# Ignore IDE directories and miscellaneous files
.idea
.DS_Store
*.pem

# Ignore debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Ignore Vercel configuration files
.vercel

# Ignore TypeScript build info
*.tsbuildinfo
next-env.d.ts
